irrigation_bash_scripts/forecast.json
openhab_from_others/
cloud_service/
UwesOpenhab_first_trials/
backups/
sonoff_binary/sonoff-DE.bin
LOGS/
.thumb/
Release/
**/*log
**/*obj
**/*mp4
**/MP4
.vs/
**/*elf
**/*bin
**/mail.things
**/mail.cfg
**/*jar
**/*.class



